<% layout('../layout.ejs') %>
<form method="post" action="/<%= folder%>/upload_file" enctype="multipart/form-data">
	<div class="form-group">
	    <label for="file">Fichier</label>
	    <input type="file" name="file" id="file" placeholder="Fichier" required>
  	</div>
	<div class="form-group">
	    <input type="text" name="creator" class="form-control floating-label" id="creator" placeholder="Créateur" required>
  	</div>
	<input type="submit" class="btn btn-primary"/>
	<a class="btn btn-info" href="/<%= folder%>">Retour</a>
</form>